#memeContainer {
 position: relative;
 text-align: center;   
}

#memeImage {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}

#firstText {
    position: absolute;
    top: 5;
    left: 5;
}

#secondText {
    position: absolute;
    bottom: 5;
    left: 5;
}