#memeContainer {
 position: relative;
 text-align: center;
 color: black;
 font-size: x-large;
 font-weight: bold; 
}

#memeImage {
    width: 100%;
}

#firstText {
    position: absolute;
    top: 5px;
    left: 1000px;
    transform: translateX(-50%);
}

#secondText {
    position: absolute;
    bottom: 5px;
    left: 1000px;
    transform: translateX(-50%);
}